<div class="grid grid-cols-12 gap-4 mb-20">


    <div class="col-span-full md:px-24 md:col-span-12 lg:col-span-5  my-4">
        <div >
            <h1 class="font-extrabold pb-4">About Cololib</h1>
            <p class="text-sm text-slate-400 ">Far far away, behind the word mountains, far from the <br> countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
    </div>




    <div class="col-span-full md:px-24 md:col-span-12 lg:col-span-2   my-4">
        <div >
            <h1 class="font-extrabold mb-4">pages</h1>
           <ul class="text-slate-400">
               <li>Blog</li>
               <li>About</li>
               <li>Contact</li>
           </ul>
        </div>
    </div>





    <div class="col-span-full md:px-24 md:col-span-12 lg:col-span-2   my-4"> 
        <div >
            <h1 class="font-extrabold mb-4">Resources</h1>
           <ul  class="text-slate-400">
               <li>Blog</li>
               <li>About</li>
               <li>Contact</li>
           </ul>
        </div>
    </div>




    <div class="col-span-full md:px-24 md:col-span-12 lg:col-span-3   my-4">
        <div >
            <h1 class="font-extrabold mb-4">Contact</h1>
            <ul  class="text-slate-400">
                <li class="mb-2"> <fa-icon class="text-1xl mr-2" [icon]="faEnvelope"></fa-icon>   info@Cololib</li>
                <li class="mb-2"> <fa-icon class="text-1xl mr-2" [icon]="faPhone"></fa-icon>   +1 222 212 3819</li>
                <li class="mb-2"> <fa-icon class="text-1xl mr-2" [icon]="faLocation"></fa-icon>   43 Raymouth Rd. Baltemoer, London 3910</li>
            </ul>
        </div>
    </div>




  
</div>
<p class="text-center mb-5 ">Copyright ©2022 All rights reserved | This template is made with &#10084; &#65039;  by Mahmoud Ibrahim</p>